# ==========================================
# STM32CubeIDE workspace files
# ==========================================
.metadata/

# ==========================================
# Build directories inside ANY project
# ==========================================
**/Debug/
**/Release/
**/build/

# ==========================================
# Generated build files
# ==========================================
*.o
*.obj
*.d
*.su
*.cyclo
*.elf
*.hex
*.bin
*.map
*.list

# ==========================================
# CubeIDE generated debug configurations
# ==========================================
*.launch

# ==========================================
# Temporary / OS files
# ==========================================
*.log
*.tmp
*.bak
*.swp
*~
.DS_Store
Thumbs.db
desktop.ini